<div class="ui blue segment">
  <p class="ui header">Songs-List</p>
  <p>Stwórz playlistę ze swoimi ulubionymi piosenkami</p>
</div>
<div class="ui blue segment">
  <p class="ui header">Lista utworów</p>
  <div class="ui grid">
    <div class="eight wide column">
      Dodanych utworów: {{ songsCount }}
    </div>
    <div class="eight wide column" style="text-align: right;">
      Łączny czas trwania: {{ songsLength || '0:00' }}
      <div *ngIf="songsWithoutLength > 0">
        (Nie wliczonych utworów: {{ songsWithoutLength }})
      </div>
    </div>
  </div>
  <div class="ui divided list">
    <div class="item" style="margin-right: 8.5em;">
      <div class="ui column stackable grid">
        <div class="seven wide column">
          <p class="ui song-item">Artysta</p>
        </div>
        <div class="seven wide column">
          <p class="ui song-item">Tytuł</p>
        </div>
        <div class="two wide column">
          <p class="ui song-item">Czas</p>
        </div>
      </div>
    </div>
    <p *ngIf="songs.length === 0">Brak utworów</p>
    <div class="item" *ngFor="let song of songs; let i = index">
      <div class="right floated">
        <div class="ui red button" (click)="removeSong(i)">Usuń</div>
      </div>
      <div class="ui column stackable grid">
        <div class="seven wide column">
          <p class="ui song-item">{{ song.author || '-' }}</p>
        </div>
        <div class="seven wide column">
          <p class="ui song-item">{{ song.title || '-' }}</p>
        </div>
        <div class="two wide column">
          <p class="ui song-item">{{ countLength(song.length) || '-' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui green segment">
  <p class="ui header">Dodaj utwór</p>
  <div class="ui column stackable grid">
    <div class="six wide column ui input">
      <label class="input-label">Autor</label>
      <div class="ui fluid input">
        <input type="text" [(ngModel)]="author">
      </div>
    </div>
    <div class="seven wide column">
      <label class="input-label">Tytuł</label>
      <div class="ui fluid input">
        <input type="text" [(ngModel)]="title">
      </div>
    </div>
    <div class="three wide column">
      <label class="input-label">Czas</label>
      <div class="ui fluid input">
        <input type="text" placeholder="MM:SS" [(ngModel)]="length">
      </div>
    </div>
  </div>
  <div style="margin-top: 10px; overflow: auto;">
    <div class="ui right floated green button" (click)="addSong()">Dodaj</div>
  </div>
</div>
<div class="ui green segment">
  <p class="ui header">Eksport listy</p>
  <button class="fluid ui green button" (click)="exportList()">Eksportuj listę utworów</button>
</div>
<div class="ui orange segment">
  <p class="ui header">Import listy</p>
  <div>
    <label for="file" class="ui icon button">
      <i class="file icon"></i> Wybierz listę z dysku
    </label>
    <label style="color: green;" *ngIf="buffer">
      <i class="checkmark icon"></i> Lista załadowana
    </label>
    <input #listInput type="file" id="file" accept=".json" style="display:none" (change)="importList($event)">
  </div><br />
  <div class="ui column stackable grid">
    <div class="eight wide column">
      <button class="fluid ui orange button" [disabled]="!buffer" (click)="loadList(); listInput.value = '';">Połącz importowaną listę z aktualną</button>
    </div>
    <div class="eight wide column">
      <button class="fluid ui red button" [disabled]="!buffer" (click)="loadList(true); listInput.value = '';">Podmień aktualną listę na importowaną</button>
    </div>
  </div>
</div>
<br />